<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="../static/index.css">
</head>
<body>
<header>
    <div class="logo"></div>
    <button>Log In</button>
    <button>Sing Up</button>
</header>
<section class="firs">
  <div class="textoption">
    <input class="inp_tx1" type="textgen" id="inp_tx" placeholder="Add Name : Website , application">
    <input class="inp_tx" type="textgen" id="inp_tx" placeholder="Sample:Password must include at least three of the following uppercase letter">
    <div class="window2">akjefa_denfse@341341</div>
  </div>
  <button class="genbut">GENERATE</button>
</section>
<section class="second">
  <div class="web">
      <div class="item1">a</div>
      <div class="item1">a</div>
      <div class="item1">a</div>
      <div class="item1">a</div>
      <div class="item1">a</div>
      <div class="item1">a</div>
      <div class="item1">a</div>
      <div class="item1">a</div>
      <div class="item1">a</div>
      <div class="item1">a</div>
  </div>
  
  <div class="web">
      <div class="item1">b</div>
      <div class="item1">b</div>
      <div class="item1">b</div>
      <div class="item1">b</div>
      <div class="item1">b</div>
      <div class="item1">b</div>
      <div class="item1">b</div>
      <div class="item1">b</div>
      <div class="item1">b</div>
      <div class="item1">b</div>
  </div>
  
</section>
<footer class="footer">C</footer>
</body>